{% include 'frontend/header.inc.php' %}

    <div class="container">
        <div class="row">
           <div class="col-md-12 titre">

               <h1>
                   {{post.title}}
               </h1>
           </div>
           <div class="col-md-6 image-blog">
                <img src="././public/img/{{post.image}}" alt="{{post.title}}">
            </div>
            <div class="col-md-6 ">
                <p>Auteur : {{post.username}} {{post.lastname}} </p>
                <p>{{post.chapo}}</p>
            </div>
            <div class="col-md-12 ">
                <p>{{post.content}}</p>
            </div>

            <div class="col-md-12 titre"> <h2>Commentaires :</h2> </div>
            <div class="col-md-12 bloc-commentaire">
                <form action="http://51.75.126.51/P5/index.php?action=addComment" method="post">

                    <div>
                        <label for="content">Ajouter un commentaire : </label><br />
                        <textarea id="content_commentaire" name="content"></textarea>
                    </div>
                    <input id="Id" name="blog" type="hidden" value="{{post.id}}">
                    <div>
                        <input class="btn btn-success btn-lg" type="submit" />
                    </div>
                </form>

                {% for com in comment %}
                    <div class="commentaire">
                        <p>Auteur :{{com.username}} {{com.lastname}}</p>
                        <p>Ajouter le : {{com.creation_date}}</p>
                        <p> {{com.content}}</p>
                    </div>
                {% endfor %}



            </div>
        </div>
    </div>

{% include 'frontend/footer.inc.php' %}